/* --> Developers
=======================================*/

.section-developers {
  position: relative;
  background: url(../img/code.jpg);
  background-size: cover;
  background-position: center;
  /* border-top: #333 solid 5px;
  border-bottom: #333 solid 5px; */
  min-height: 18rem;
}