/* ==> Footer 
==================================== */

.page-footer {
}

.footer-list-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, max-content));
  justify-content: center;
  justify-items: center;
  grid-gap: 2rem;
}

.footer-copyright div {
  display: flex;
  justify-content: space-between;
}