/* --> Language
=======================================*/

.section-language {
  padding: 5rem;
}

.languages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-gap: 2rem;
}

.language-icon {
  height: 100%;
  width: 100%;
}